{
    "urlMappings": [],
    "staticKeys": [],
    "clientKeys": {
        "public" : {
            "data": "-----BEGIN PUBLIC KEY-----
                    MIIBIjANBgkqhkiG9w0BAQEFAAOCAQ8AMIIBCgKCAQEAhLnBJWGo0X+3xJ/9he94
                    toOEd3b9/P4r+IokMn8bi7lfc3lpXmxFGUfSUE37kH6y8Vf4p2HSzTGCWjCczTCv
                    BxM5DBFoH4GxBEDHSTopEe9Qt9hs1is1SzhDcwq7XUztdyCdXJZS8HthFjUPRN++
                    GbgTX284UMYLJQaupJlbg1crkg/R7pT+vdHQyEm55813KHX2ZdS6yXHJ7gbi21vs
                    zScGn5Y9gYVlqI6nhE9cKSQdQed5F4LDKW4uzZjRAB6Wzm0GdOi0pj1uPHuebcLm
                    SDVKm5HRjArgMb/bAJOodbSQept3udJw9sPzI8FG7XbI4FWU4tffw91m4Gdu9drQ
                    dwIDAQAB
                    -----END PUBLIC KEY-----",
            "format": "public"
        },
        "private" : {
            "data": "-----BEGIN RSA PRIVATE KEY-----
                    MIIEowIBAAKCAQEAhLnBJWGo0X+3xJ/9he94toOEd3b9/P4r+IokMn8bi7lfc3lp
                    XmxFGUfSUE37kH6y8Vf4p2HSzTGCWjCczTCvBxM5DBFoH4GxBEDHSTopEe9Qt9hs
                    1is1SzhDcwq7XUztdyCdXJZS8HthFjUPRN++GbgTX284UMYLJQaupJlbg1crkg/R
                    7pT+vdHQyEm55813KHX2ZdS6yXHJ7gbi21vszScGn5Y9gYVlqI6nhE9cKSQdQed5
                    F4LDKW4uzZjRAB6Wzm0GdOi0pj1uPHuebcLmSDVKm5HRjArgMb/bAJOodbSQept3
                    udJw9sPzI8FG7XbI4FWU4tffw91m4Gdu9drQdwIDAQABAoIBAGVRFyvd/OzPvgyO
                    xQ003MUWaEx5vTEfJZm4eiFB/lkOzNptWA4IQEcoGFfM77hBv3+UU/ASMMUKgiMu
                    8MOB4lpYRjf8IavLaMGCYZ54k1lpggiVYZ+rpCcjb/mlu5lhW/SQJQ/EgNOqm1ZE
                    cr90vL0NU1yKnkaqp19AVpi3qK/9AIRuz4n1VkIN9AjGoku33JLQnxKVzv0Vo7lY
                    KixhBWaH5aglaL8cx+r6rU07mImze3cpnh1M7hTVjmORjQEMvDJuHBVZn7baUK80
                    dtn+fnWZWuoKdO9ygm/ocR1bdhdfU27SJvgttbM8Osg6XKupibUbENeZW7iDoEyV
                    dtf0nEECgYEA3qYvPS0QMbph6s/zlfV927dfOHK6H/bnZeaEJDnWuz7mvzKuZwCt
                    AseMaRZGLsmf6I5f6lj7C4gajmZvBQbVC9Tna8FzC64PXJyhgz9aAyameKvOXIHO
                    1kCV3TaliEARGer5T9pgZ+308gVdEjAQWuOyE1WovceRiJftnwZclGkCgYEAmJtR
                    CQ3h5ACxeAUDaU1nx293OJSoV2JeqnJBNPTvBvvAScyuxF2R9X8NtG5wzOX0JG+M
                    R3+yVgG3AVtP8nt1UZXOzrGhEX/1Nalnp/OJCn3Z+lg1Go8uNoKZRgiU2En/Wj35
                    76eAX8Z10AhnAW9x0tegq+MkBZYJ9Je9z8j0Id8CgYEAxdCaudy2vafd5VT7E2n4
                    d2TVaf6slUe10ZhcIR9uRBCfzJIH16YHESgf/SH4GwuyUllkqH6EFXvINGqYCrxG
                    Puva7KcEQwVTyrGy4jxACfql/yKOByyhi0P4ooEx0vsw9nkJJsRb0Rre/MR9K3Ke
                    pVIV3g3GDU8pY1WwnhB14rkCgYBGfqjmZ9VLf857RMWYpTslc6Y9Kt7Azx4v2muo
                    zOSF81GWRckNyLOeFjz8dnABFtC67BR/CswU0uH47Hd36fP95hgMfx2KefOKAGFz
                    whoyEITbElgllrKgV5/6LAimCTi+NRb50ASLOaA+o0MB9Ls9zIHaJSkEs5SRum7i
                    R1APPQKBgG+zIaSxFG99WOaU9MqEMQfJMDN4wzJgGB1c27DKiBqr1hAvlfHwCLQ9
                    vx5vH+LubqpsdUUgj7rJQmhTgq651NjQ2KR+je2GeggJFwdHRE3SOWciIXCQ/8Lh
                    C+qbIdS9xvU4ONNMTsuWrRFCSFhNKEWA7ZW7kPwHaUrzSwnaQ3KL
                    -----END RSA PRIVATE KEY-----",
            "format": "private"
        }
    }
}